form {
  display:flex;
  flex-direction:column;
}
.LoginForm {
  width: fit-content;
}
form>div {
  padding-bottom: 5px;
  width: min-content;
  margin:auto;
}
section>form {
  width: 75%;
  margin:auto;
}
form>footer {
  margin-top: 10px;
  width:100%;
  display:flex;
  flex-direction: column;

}
form>button {
  margin-top: 10px;
}
footer>button {
  margin: 10px 0;
}