.underline {
  text-decoration: underline;
  font-size:20px;
}
.page-heading {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.page-heading>p {
  white-space:pre-wrap;
  margin:0;
  margin-bottom:5px;
}
.score-container {
  text-align:center;
}